.hidden {
	display: none;	
}
div.message {
	text-align: center;
	padding-bottom: 20px;
}
div.error {
	color: #dc3545;
}
div.success {
	color: #28a745;
}
.swal2-icon {
	margin-right: 10px !important;
}
.login-page {
	/*background-image: url("../img/background.jpg");*/
	background-color: #6c757d;
}
.login-logo {
	margin-bottom: 0px;
}
.login-logo img {
	width: 100%;
}
.login-page .input-group .input {
	position: relative;
    flex: 1 1 auto;
    width: 1%;
}
.login-page .input-group input {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.brand-link {
	padding: 5px 0px 0px;
}
.card-header>.card-tools .input-group {
	margin-top: 0px;
	margin-bottom: 0px;
}
.search-tool {
	width: 360px;
}
.asc::after {
    content: " \2193";
}
.desc::after {
    content: " \2191";
}
.pagination li:first-child a {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
}
.pagination a {
    position: relative;
    display: block;
    padding: .4rem .6rem;
    margin-left: 0px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.pagination li.active a {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff;
}
.pagination li.disabled a {
  cursor: not-allowed;
  opacity: 0.5;
}
.card-footer p {
	margin-bottom: 0px;
	font-size: 12px;
}
.tbody-xs td {
	font-size: 13px;
}
.question-row {
	background-color: #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
}
.question-row .form-group {
	margin-bottom: 5px;
	margin-top: 5px;
}
.question-row .row {
	border-radius: 5px;
}
.question-remove {
	position: absolute;
    padding: 4px;
    border-radius: 50%;
    color: #000;
    font-size: 28px;
    background-color: #ffc107;
    cursor: pointer;
    top: -5px;
    right: -5px;
    opacity: .5;
    z-index: 2;
}
.question-row:hover {
	background-color: #bbb;
}
.question-remove:hover {
	opacity: .9;	
}
.user-panel .info {
	width: 100%;
	text-align: center;
	padding: 5px;
}
.user-panel .info span {
	font-size: 10px;
}
.user-panel .info b {
	font-size: 24px;
}
/*.question-remove:hover ~ .row {
	background-color: #bbb;
}*/